::-moz-selection {
  color: #f4f4f4;
  background: #f36e1c;
}

::selection{
  color: #f4f4f4;
  background: #f36e1c;
}

.ld-custom-name {
    color: #f4f4f4;
}

.ld-custom-name:visited {
    color: #f4f4f4;
}

.ld-custom-button-container {
    -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    -webkit-transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    -webkit-transition: -webkit-transform 0.15s cubic-bezier(0, 0.2, 0.5, 3);
    -webkit-transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3);
    transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3);
    background-color: #f36e1c;
    color: #1d1d1d;
}

.ld-custom-button-container:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

.ld-custom-button {
    -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), -webkit-transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
}

.ld-custom-background-layer {
    background-attachment: fixed;
    background-color: var(#303235);
    background-color: -webkit-gradient(linear,left top,right top,from(#1d1d1d),color-stop(50%,#323030),to(#1d1d1d));
    background-color: -webkit-linear-gradient(left,#1d1d1d,#323030 50%,#1d1d1d);
    background-color: linear-gradient(90deg,#1d1d1d,#323030 50%,#1d1d1d);
    background-image: url(https://raw.githubusercontent.com/alfreddagenais/my-links/main/banner-orange.webp);
    background-position: 87% 0;
    background-repeat: no-repeat;
    background-size: cover;
}